@import 'the-new-css-reset/css/reset.css';
@import './base';

body {
    color: #fff;
    background-color: #232533;
    min-height: 100vh;
    line-height: 1.2;

    @media (min-width: 800px) {
        display: flex;
        align-items: flex-start;
    }
}

.drone {
    position: relative;
    flex: 1 1 0;
    max-width: fit-content;
    overflow: hidden;
    padding: 32px;
    margin: 0 auto;

    &__model {
        display: block;
        max-width: 100%;
        max-height: calc(100vh - 64px);
        border-radius: 4px;
    }

    &__part {
        position: absolute;
        width: 10%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: 1px solid #efa765;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 5px #efa765, inset 0 0 5px #efa765;
        transition: backdrop-filter 0.25s, box-shadow 0.5s;

        &:hover {
            backdrop-filter: blur(3px);
            cursor: pointer;
        }

        &_active {
            backdrop-filter: blur(3px);
            box-shadow: 0 0 5px #efa765, inset 0 0 30px 10px #efa765;
        }

        &[data-type="frame"] {
            left: 28%;
            top: 55%;
        }

        &[data-type="motor"] {
            left: 77%;
            top: 67%;
        }

        &[data-type="fc"] {
            left: 56%;
            top: 49%;
        }

        &[data-type="camera"] {
            left: 43%;
            top: 57%;
        }

        &[data-type="vtx"] {
            left: 65%;
            top: 37%;
        }
    }
}

.options {
    background: #111424;
    overflow: auto;
    padding: 32px;
    flex-shrink: 0;

    @media (min-width: 800px) {
        position: sticky;
        top: 0;
        width: 320px;
        height: 100vh;
    }

    &__item {
        margin-bottom: 64px;

        h3 {
            font-size: 20px;
            font-weight: 500;
            color: #efa765;
            margin-bottom: 16px;
        }

        img {
            display: block;
            border-radius: 4px;
            margin-bottom: 16px;
        }
    }
}
